.cart{
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.cart .card{
    display: flex;
    justify-content: space-between;
}

.cart .card .brand{
    width: 40px;
    font-family: Bahnschrift;
}